In [14]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
import seaborn as sns
import hvplot.pandas



from api_keys import geoapify_key

In [15]:
uscities = pd.read_csv("../data/CLEAN_uscities.csv")
uscities_df = pd.DataFrame(uscities)
uscities_df = uscities_df[uscities_df['state_name'] != 'District of Columbia']
uscities_df.head()

          city  state_name      lat       lng  population  density
0     New York    New York  40.6943  -73.9249    18972871  10768.2
1  Los Angeles  California  34.1141 -118.4068    12121244   3267.6
2      Chicago    Illinois  41.8375  -87.6866     8595181   4576.6
3        Miami     Florida  25.7840  -80.2101     5711945   4945.7
4       Dallas       Texas  32.7935  -96.7667     5668165   1522.2

In [26]:
state_population = uscities_df.groupby('state_name')['population'].sum()
state_population = pd.DataFrame(state_population)
state_population.reset_index(inplace=True)
state_population.head()

   state_name  population
0     Alabama     4328748
1      Alaska      752125
2     Arizona     9668452
3    Arkansas     2689595
4  California    58326433

In [27]:
state_population.to_csv('../data/CLEAN_statepopulation.csv', index=False)