In [5]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
import seaborn as sns
import hvplot.pandas



from api_keys import geoapify_key

In [6]:
state_population = pd.read_csv("../data/CLEAN_statepopulation.csv")
state_population = pd.DataFrame(state_population)
state_population.head()

   state_name  population
0     Alabama     4328748
1      Alaska      752125
2     Arizona     9668452
3    Arkansas     2689595
4  California    58326433

In [11]:
#
def assign_region(state):
    # Replace these conditions with your criteria
    if state in ['Maine', 'New Hampshire', 'Vermont', 'Massachusetts', 'Rhode Island', 'Connecticut', 'New York','New York City', 'New Jersey', 'Pennsylvania']:
        return 'Northeast'
    elif state in ['Ohio', 'Michigan', 'Indiana', 'Illinois', 'Wisconsin', 'Minnesota', 'Iowa', 'Missouri']:
        return 'Midwest'
    elif state in ['Delaware', 'Maryland', 'Virginia', 'West Virginia', 'Kentucky', 'North Carolina', 'South Carolina', 'Georgia', 'Florida', 'Alabama', 'Tennessee', 'Mississippi', 'Louisiana', 'Arkansas', 'Texas', 'Oklahoma']:
        return 'South'
    elif state in ['Montana', 'Idaho', 'Wyoming', 'Colorado', 'New Mexico', 'Arizona', 'Utah', 'Nevada', 'California', 'Oregon', 'Washington', 'Alaska', 'Hawaii']:
        return 'West'
    else:
        return 'Unknown'
state_population['Region'] = state_population['state_name'].apply(assign_region)

region_dfs = {region: group for region, group in state_population.groupby('Region')}

northeast_df = region_dfs.get('Northeast')
midwest_df = region_dfs.get('Midwest')
south_df = region_dfs.get('South')
west_df = region_dfs.get('West')
unknown_df = region_dfs.get('Unknown')

northeast_df.head()

       state_name  population     Region
6     Connecticut     4262191  Northeast
18          Maine      594776  Northeast
20  Massachusetts     8083801  Northeast
28  New Hampshire      805252  Northeast
29     New Jersey     6173614  Northeast

In [ ]:
state_population.plot(kind='bar', x='state_name', y='population', title = 'Total State Population')
plt.show()