In [2]:
import pandas as pd
import matplotlib as plt
import scipy.stats as st
import numpy as np

In [4]:
# creat file path to csv
data_df= pd.read_csv("../data/Provisional_COVID-19_Deaths_by_Sex_and_Age.csv")
data_df.head()

#delete unecessary columns
covid_deaths_df= data_df[['Data As Of','State','Sex',
                                     'Age Group','COVID-19 Deaths','Total Deaths','Pneumonia Deaths','Pneumonia and COVID-19 Deaths',
                                     'Influenza Deaths','Pneumonia, Influenza, or COVID-19 Deaths']]
covid_deaths_df.head()

,Data As Of,State,Sex,Age Group,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths"
0,09/27/2023,United States,All Sexes,All Ages,1146774.0,12303399.0,1162844.0,569264.0,22229.0,1760095.0
1,09/27/2023,United States,All Sexes,Under 1 year,519.0,73213.0,1056.0,95.0,64.0,1541.0
2,09/27/2023,United States,All Sexes,0-17 years,1696.0,130970.0,2961.0,424.0,509.0,4716.0
3,09/27/2023,United States,All Sexes,1-4 years,285.0,14299.0,692.0,66.0,177.0,1079.0
4,09/27/2023,United States,All Sexes,5-14 years,509.0,22008.0,818.0,143.0,219.0,1390.0

In [5]:
covid_deaths_df.dtypes

Data As Of                                   object
State                                        object
Sex                                          object
Age Group                                    object
COVID-19 Deaths                             float64
Total Deaths                                float64
Pneumonia Deaths                            float64
Pneumonia and COVID-19 Deaths               float64
Influenza Deaths                            float64
Pneumonia, Influenza, or COVID-19 Deaths    float64
dtype: object

In [6]:
#removing male/female
all_sexes_covid_deaths_df= covid_deaths_df.loc[(covid_deaths_df['Sex']=='All Sexes')]
all_sexes_covid_deaths_df

,Data As Of,State,Sex,Age Group,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths"
0,09/27/2023,United States,All Sexes,All Ages,1146774.0,12303399.0,1162844.0,569264.0,22229.0,1760095.0
1,09/27/2023,United States,All Sexes,Under 1 year,519.0,73213.0,1056.0,95.0,64.0,1541.0
2,09/27/2023,United States,All Sexes,0-17 years,1696.0,130970.0,2961.0,424.0,509.0,4716.0
3,09/27/2023,United States,All Sexes,1-4 years,285.0,14299.0,692.0,66.0,177.0,1079.0
4,09/27/2023,United States,All Sexes,5-14 years,509.0,22008.0,818.0,143.0,219.0,1390.0
...,...,...,...,...,...,...,...,...,...,...
137661,09/27/2023,Puerto Rico,All Sexes,50-64 years,NaN,203.0,35.0,NaN,0.0,36.0
137662,09/27/2023,Puerto Rico,All Sexes,55-64 years,NaN,169.0,29.0,NaN,0.0,30.0
137663,09/27/2023,Puerto Rico,All Sexes,65-74 years,NaN,244.0,32.0,NaN,NaN,33.0
137664,09/27/2023,Puerto Rico,All Sexes,75-84 years,15.0,443.0,85.0,NaN,NaN,93.0
137665,09/27/2023,Puerto Rico,All Sexes,85 years and over,15.0,440.0,73.0,13.0,NaN,76.0

In [7]:
all_sexes_covid_deaths_df.to_csv("CLEAN_Provisional_COVID-19_Deaths_by_Sex_and_Age.csv", index = False)

In [8]:
clean_data= pd.read_csv ('../data/CLEAN_Provisional_COVID-19_Deaths_by_Sex_and_Age.csv')
clean_data.head()

,Data As Of,State,Sex,Age Group,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths"
0,09/27/2023,United States,All Sexes,All Ages,1146774.0,12303399.0,1162844.0,569264.0,22229.0,1760095.0
1,09/27/2023,United States,All Sexes,Under 1 year,519.0,73213.0,1056.0,95.0,64.0,1541.0
2,09/27/2023,United States,All Sexes,0-17 years,1696.0,130970.0,2961.0,424.0,509.0,4716.0
3,09/27/2023,United States,All Sexes,1-4 years,285.0,14299.0,692.0,66.0,177.0,1079.0
4,09/27/2023,United States,All Sexes,5-14 years,509.0,22008.0,818.0,143.0,219.0,1390.0